/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/laradock
.DS_Store
/public/data/data.json
/HeavyMetal-Cover_Gallery.code-workspace
/sql
/local.assets/HeavyMetal-Cover_Gallery.code-workspace
/.env.fango
/public/data/fango_data.csv
/public/data/hm_data.1.csv
/public/data/hm_likes_counts.csv
/public/data/hm_likes.1.csv
